@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-1: Verdana, Geneva, Tahoma, sans-serif;
    --font-2: 'Passion One', cursive;
    --font-3:  'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
    font-family: var(--font-1);
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--font-2);
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}
header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font-3);
    font-size: 3.5vw;
    line-height: 2em;
    padding-bottom: 10vh;
    padding-left: 30px;
    padding-top: 10vh;    
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-attachment: fixed;
    background-color: rgb(46, 45, 45);
    background-size: cover;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.514);
    color: white;
}

section.imagem > p {
    background-color: rgba(36, 35, 35, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1.5px 1.5px 0px rgb(0, 0, 0);
    box-shadow: 2px 2px 0px black;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;    
}

section#img02 {
    background-image: url(imagens/background002.jpg);    
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}